/* Path:  styles\globals.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: #0070f3;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin-top: 1.75rem;
}

.timeseries {
  display: block;
  margin: 2rem 0;
}
